header{
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "boxHeadingImage boxHeadingName"
    "boxHeadingImage boxHeadingCaption"
    "boxHeadingImage boxHeadingDescription"
    "boxHeadingButton boxHeadingButton"
    ;
    gap: 5px;

    justify-content: center;
    background-color: grey;


}
div{
    display: flex;
    /*border: black solid 1px;*/
    padding: 5px;
}
#headingName{
    font-family: "DejaVu Sans", SansSerif, sans-serif;
    font-size: 30pt;
}
#headingCaption{
    font-size: 15pt;
    font-weight: bold;
}
#headingDescription{
    font-size: 15pt;
    align-items: center;
    justify-content: center;
}
#headingImage{
    justify-content: center;
    align-items: center;
}
#headingImage > img{
    height: 200px;
    width: fit-content;
    border-radius: 50%;
    text-align: center;
    animation: 3s float ease-in-out infinite;
    animation-play-state: paused;
}
#headingImage > img:hover{
    animation-play-state: running;
}
#headingButton{
    justify-content: center;
}
#headingButton > button{
    width: 30%;
    font-size: 15pt;
    background-color: green;
    color: white;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}
#headingButton > button:hover{
    scale: 1.2;
    border-radius: 50%;
}
@keyframes float{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-0.5cm);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(0.5cm);
    }
    100%{
        transform: translateX(0);
    }
}

#skillsHeading{
    text-align: center;
}
section#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

section#skills > div{
    height: 200px;
    width: 300px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
div#skillsFrontEnd, div#skillsBackend{
    display: grid;
}