header{
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "boxHeadingImage boxHeadingName"
    "boxHeadingImage boxHeadingCaption"
    "boxHeadingImage boxHeadingDescription"
    "boxHeadingButton boxHeadingButton"
    ;
    gap: 5px;

    justify-content: center;
    /*background-color: grey;*/


}
div{
    display: flex;
    /*border: black solid 1px;*/
    padding: 5px;
}
#headingName{
    font-family: "DejaVu Sans", SansSerif, sans-serif;
    font-size: 30pt;
}
#headingCaption{
    font-size: 15pt;
    font-weight: bold;
}
#headingDescription{
    font-size: 15pt;
    align-items: center;
    justify-content: center;
}
#headingImage{
    justify-content: center;
    align-items: center;
}
#headingImage > img{
    height: 200px;
    width: fit-content;
    border-radius: 50%;
    text-align: center;
    animation: 3s float ease-in-out infinite;
    animation-play-state: paused;
}
#headingImage > img:hover{
    animation-play-state: running;
}
#headingButton{
    justify-content: center;
}
#headingButton > button{
    width: 30%;
    font-size: 15pt;
    background-color: green;
    color: white;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}
#headingButton > button:hover{
    scale: 1.2;
    border-radius: 50%;
}
@keyframes float{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-0.5cm);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(0.5cm);
    }
    100%{
        transform: translateX(0);
    }
}


#skillsHeading{
    text-align: center;
    font-size: 30pt;
    font-family: "Noto Sans Armenian SemiBold", sans-serif;
}
section#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

section#skills > div{
    height: 300px;
    width: 40%;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    padding: 3px;
    align-items: center;
    justify-content: center;
}
section > div#skillsFrontEnd{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "headingFrontend HeadingFrontend"
    "skillBoxA skillBoxB"
    "skillBoxC skillBoxD"
    "skillBoxE skillBoxF"
    "skillBoxG skillBoxH";
    gap: 3px;
    justify-content: left;
}
section > div#skillsBackend{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "headingBackend HeadingBackend"
    "skillBox1 skillBox2"
    "skillBox3 skillBox4";
    gap: 3px;
}
div.sHeading{
    width: 250px;
}
div#skillsBackend > div, div#skillsFrontEnd > div{
    justify-content: center;
}

section#connectWithMe{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: center;
    align-items: center;
}
section#connectWithMe > div{
    width: 300px;
    height: 300px;
    border-right: 2px solid black;
    display: grid;
    text-align: center;
}
section#connectWithMe > div > a{
    font-size: 20pt;
    font-weight: bold;
}
section#connectWithMe > div > h1{
    font-size: 25pt;
}
div#comment > label{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;

    justify-content: center;
    align-items: center;

}
div#comment > label > input, div#comment > label > textarea{
    font-size: 15pt;
    border-radius: 10px;
}
div#comment{
    overflow: scroll;
}
div#comment > button{
    font-size: 15pt;
    margin: 5% 25%;
}
div#comment > button:hover{
    scale:1.2;
    background-color: green;
    color: white;
    font-weight: bold;
}

footer{
    margin-top:10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
